%html
  %head
    %title Svar till lyssnarna - #{name}
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1
      &= "Hej, #{name}!"

    %h2
      Din poäng:
      %span.score #{score}

    %a{ :href => "/withdraw/#{playerid}" }
      Avsluta

    %h2 Logg:
    %ul
      - log.each do |logline|
        %li
          %div{:class => ["logline", "id", logline.result]} #{logline.id}
          %div{:class => ["logline", "result", logline.result]} resultat: #{logline.result}
          %div{:class => ["logline", "points", logline.result]} points: #{logline.points}
